@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightBlack: #515C6F;
    --white: #FFFF;
    --darkWhite: #cecaca;
    --pinkShadow: #ffcbdd;
    --btnLightShadow: rgba(0, 0, 0, .15);
}

body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#ff74a4, #1f1013);
}

.wrapper {
    z-index: 2;
    position: relative;
    width: 380px;
    background: var(--white);
    box-shadow: 0 6px 15px var(--lightBlack);
    border-radius: 15px;
    padding: 25px 30px;
    overflow: hidden;
}

.wrapper i {
    cursor: pointer;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i {
    font-size: 30px;
    color: var(--lightBlack);
}

.top-bar span {
    font-size: 18px;
    color: var(--lightBlack);
}

.img-area {
    margin-top: 25px;
    height: 350px;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 6px 12px var(--lightBlack);
}

.img-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.song-details {
    margin: 15px 0 30px 0;
    color: var(--lightBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.song-details .name {
    font-size: 21px;
}

.song-details .artist {
    opacity: 0.9;
    font-size: 18px;
}

.progress-area {
    height: 6px;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 50px;
    cursor: pointer;
}

.progress-area .progress-bar {
    height: inherit;
    border-radius: inherit;
    width: 0%;
    position: relative;
    background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
}

.progress-bar::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 12px;
    width: 12px;
    background: #000;
    border-radius: inherit;
    right: -5px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: .3s ease-in-out;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
}

.progress-area .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
}

.timer {
    cursor: auto;
}

.timer span {
    font-size: 13px;
    color: var(--lightBlack)
}

.controls {
    margin: 40px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls i {
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
    font-size: 43px;
}

.controls #prev {
    margin-right: -13px;
}

.controls #next {
    margin-left: -13px;
}

.controls .play-pause {
    height: 54px;
    width: 54px;
    background: linear-gradient(var(--white) 0%, var(--darkWhite) 100%);
    box-shadow: 0 0 5px var(--pink);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-pause::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    height: 43px;
    width: 43px;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}

.play-pause i {
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background: inherit;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music-list {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -65%;
    opacity: 0;
    pointer-events: none;
    border-radius: 15px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
    background: var(--white);
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    transition: all .2s ease-out;
}

.music-list.show {
    bottom: 0;
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
}

.music-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.music-list .header .row {
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--lightBlack);
}

.header .row span {
    margin-left: 5px;
}

.header #close {
    font-size: 22px;
    color: var(--lightBlack);
}

.music-list ul {
    margin: 10px 0;
    max-height: 380px;
    overflow-y: auto;
}

.music-list ul::-webkit-scrollbar {
    width: 0px;
}

.music-list ul li {
    list-style: none;
    padding-bottom: 10px;
    color: var(--lightBlack);
    border-bottom: 1px solid #e5e5e5;
}

.music-list li {
    cursor: pointer;
}

.music-list ul li:last-child {
    border-bottom: 0px;
}

.music-list ul li .row span {
    font-size: 17px;
}

.row p {
    padding: 10px 0 0 0;
    opacity: 0.3;
}

ul li .audio-duration {
    font-size: 16px;
}

ul li.playing {
    color: var(--violet);
    pointer-events: none;
}

.slidecontainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.slidecontainer .max-volume {
    font-size: 36px;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: var(--lightBlack);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    border-radius: 50%;
    height: 25px;
    background: var(--lightBlack);
    cursor: pointer;
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.x1 {
    -webkit-animation: floatUp 4s infinite linear;
    -moz-animation: floatUp 4s infinite linear;
    -o-animation: floatUp 4s infinite linear;
    animation: floatUp 4s infinite linear;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}

.x2 {
    -webkit-animation: floatUp 7s infinite linear;
    -moz-animation: floatUp 7s infinite linear;
    -o-animation: floatUp 7s infinite linear;
    animation: floatUp 7s infinite linear;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    left: 15%;
}

.x3 {
    -webkit-animation: floatUp 2.5s infinite linear;
    -moz-animation: floatUp 2.5s infinite linear;
    -o-animation: floatUp 2.5s infinite linear;
    animation: floatUp 2.5s infinite linear;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    left: -15%;
}

.x4 {
    -webkit-animation: floatUp 4.5s infinite linear;
    -moz-animation: floatUp 4.5s infinite linear;
    -o-animation: floatUp 4.5s infinite linear;
    animation: floatUp 4.5s infinite linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: -34%;
}

.x5 {
    -webkit-animation: floatUp 8s infinite linear;
    -moz-animation: floatUp 8s infinite linear;
    -o-animation: floatUp 8s infinite linear;
    animation: floatUp 8s infinite linear;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    left: -57%;
}

.x6 {
    -webkit-animation: floatUp 3s infinite linear;
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    left: -81%;
}

.x7 {
    -webkit-animation: floatUp 5.3s infinite linear;
    -moz-animation: floatUp 5.3s infinite linear;
    -o-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(3.2);
    -moz-transform: scale(3.2);
    -o-transform: scale(3.2);
    transform: scale(3.2);
    left: 37%;
}

.x8 {
    -webkit-animation: floatUp 4.7s infinite linear;
    -moz-animation: floatUp 4.7s infinite linear;
    -o-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    left: 62%;
}

.x9 {
    -webkit-animation: floatUp 4.1s infinite linear;
    -moz-animation: floatUp 4.1s infinite linear;
    -o-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 85%;
}

button:focus {
    outline: none;
}

@-webkit-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-moz-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-o-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}

@keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        top: 0vh;
        opacity: .8;
    }

    75% {
        opacity: 1;
    }

    100% {
        top: -100vh;
        opacity: 0;
    }
}




#head1 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
}

#head2 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}

#head3 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
}

#head4 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    -o-animation-delay: 17s;
    animation-delay: 17s;
}

#head5 {
    -webkit-animation: finalFade 1 5s ease-in;
    -moz-animation: finalFade 1 5s ease-in;
    -o-animation: finalFade 1 5s ease-in;
    animation: finalFade 1 5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 22s;
    -moz-animation-delay: 22s;
    -o-animation-delay: 22s;
    animation-delay: 22s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes finalFade {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

#footer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: white;
    position: fixed;
    -webkit-transform: translate(95vw, 90vh);
    -moz-transform: translate(95vw, 90vh);
    transform: translate(95vw, 90vh);
    transform: translate(95vw, 90vh);
}